body{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;

}

header{
    color:  white;
    background-color: blue;
    padding: 10px 20px;
    text-align: center;

}

header h1{
    margin: 0;

}

header p{
    margin: 0;

}

main{
    margin: 50px;
    padding: 20px;

}

.Sezione{
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 5px 5px black;
    margin: 20px;

}

.titolo{
    margin: 0;
    padding: 20px 20px;
    border-radius:  10px;
    background-color: lightgray;
    cursor: pointer;

}

.titolo:hover{
    background-color: gray;
}

.contenito{
    display: none;
    padding: 20px 20px;

}

.contenito.visible{
    display: block;
}

